src/logicApp/processLegacySystem/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Retrieve_all_processed_order": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "contoso",
                        "containerId": "order",
                        "queryText": "SELECT * from c WHERE c.status = 'Completed' and processDate >= @{variables('lastPull')}"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                }
            },
            "Retrieve_last_pull": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "contoso",
                        "containerId": "parameter",
                        "itemId": "1",
                        "partitionKey": "1"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "ReadDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {}
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@outputs('Retrieve_last_pull')?['statusCode']",
                                404
                            ]
                        }
                    ]
                },
                "actions": {
                    "Set_variable_lastPull": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "lastPull",
                            "value": "@{addDays(utcNow(),-365)}"
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {
                    "Initialize_variable_last_pull": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Parse_JSON_parameter": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Retrieve_last_pull')?['content']",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "lastPulling": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "runAfter": {}
                        },
                        "Set_variable": {
                            "type": "SetVariable",
                            "inputs": {
                                "name": "lastPull",
                                "value": "@body('Parse_JSON_parameter')?['lastPulling']"
                            },
                            "runAfter": {
                                "Parse_JSON_parameter": [
                                    "Succeeded"
                                ]
                            }
                        }
                    }
                }
            },
            "Initialize_variable_last_pull": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "lastPull",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Retrieve_last_pull": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}